<input [(ngModel)]="asyncSelected"
        [typeahead]="dataSource"
        (typeaheadLoading)="changeTypeaheadLoading($event)"
        (typeaheadNoResults)="changeTypeaheadNoResults($event)"
        (typeaheadOnSelect)="typeaheadOnSelect($event)"
        [typeaheadOptionsLimit]="7"
        [typeaheadOptionField]="'name'"
        placeholder="Destination"
        class="form-control">
<div *ngIf="typeaheadLoading===true">
  <i class="glyphicon glyphicon-refresh ng-hide" style=""></i> Searching
</div>
<div *ngIf="typeaheadNoResults===true" class="" style="">
  <i class="glyphicon glyphicon-remove"></i> No Results Found
</div>
<!--
<div class="card" *ngFor="let planet of planetsList">
  <div class="content">
    <a class="header">{{planet.name}}</a>
    <div class="meta">
      <span class="date">Position {{planet.position}} from SUN</span>
    </div>
    <div class="description">
      {{planet.description}}
    </div>
  </div>
</div>

-->